.postscript {
  @include clearfix;
  padding: 2em 0;
}
.projects-front  {
  .views-row {
    width: 44%;
    display: inline-block;
    margin: 1em .5em;
    position: relative;
    line-height: 0;
    img {
      width: 100%;
    }
    @include breakpoint($tablet, $no-query: '.no-mq') {
      width: 22%;
      margin: 1em .5em;
    }
    @include breakpoint($desktop, $no-query: '.no-mq') {
      width: 18%;
    }
    &:hover h4 a:after {
      content: 'See Project >';
      display: block;
      color: $color-one;
      font-style: italic;
      font-family: $heading-font-family;
      text-transform: none;
    }
  }
  h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: .9em;
    z-index: 99;
    margin: 0;
    padding: 0em 0 1em ;
    a {
      color: #fff;
      display: block;
    }
     &:before {
      content: '';
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,0.85+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
      position: absolute;
      width: 100%;
      left: 0;
      height:100px;
      bottom: 0;
      z-index: -1;
    }
  }
}