a {
  color: $link;
  &:hover {
    color: $hover;
  }
  &:visited {
    color: $visited;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
  }
}

.btn {
  a {
    border: 2px solid #000;
    padding: .25em 1.5em;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    &:hover {
      background: $color-one;
      border: 2px solid $color-one;
      color: #fff;
    }
  }
}